[2015-03-10 18:09] giovanisp commented on #270
Open the voting triangle.
Make very fast clicks in different parts of the triangle (I used Chrome latest version).
The triangle shows duplicated votes in the triangle drawing.

Probably a refresh glitch?

[2015-03-10 21:36] giovanisp commented on #174
Why can't them simply click on the invitation and join the question if they accept, avoid the question if they reject the invitation? In case the user is not registered, they are first redirected to the registration page along with the invitation token that will allow them to go through the registration process and auto login, performing the previous operation (accept/reject). if they are register

[2015-03-10 21:40] giovanisp commented on #269
Aren't new question the same as "propose an answer to a question" ?
i was thinking about the top green panel only for invites.

[2015-03-10 22:15] pietrosperoni commented on #222
We need to decide if it makes sense to have a single participant. If it does then it could be used to order a set of proposals. Maybe n people suggest ideas, and then a person thinks them through, and votes them. Or maybe a teacher evaluates the essays of some students and Vilfredo orders them. Then the students would be the people proposing and the teacher the person voting. If this is acceptable

[2015-03-10 22:47] derekpa commented on #269
I just did it the way it was done on the original vilfredo, where new questions appear at the top until they have a proposal.

On a phone I would actually move the invites above the new questions.

Or, we could just move new questions with no proposals down to the writing section.

[2015-03-10 22:58] giovanisp commented on #269
That's better IMHO.

[2015-03-10 23:50] derekpa commented on #269
OK, I put that layout on test.

[2015-03-11 09:18] giovanisp opened #273 "fix hamburguer icon and dialog on smartphone"
![image](https://cloud.githubusercontent.com/assets/180794/6593329/f47d98a6-c7d7-11e4-870c-f2ce075781ce.png)

[2015-03-11 09:19] giovanisp opened #274 "fix cookiebar on smartphone"
![image](https://cloud.githubusercontent.com/assets/180794/6593347/266007dc-c7d8-11e4-92ba-7d23c916ce1a.png)

[2015-03-11 09:40] giovanisp commented on #273
@derekpa  need LESS compiling+deploy on test

[2015-03-11 09:40] giovanisp commented on #274
@derekpa  need LESS compiling+deploy on test

[2015-03-11 09:43] giovanisp commented on #269
Seems good. Can we just make the questions appear in full text and not trimmed wit "..." ?

![image](https://cloud.githubusercontent.com/assets/180794/6593733/7130a958-c7db-11e4-90d7-5e09f95b24e5.png)

[2015-03-11 10:56] derekpa commented on #269
Well we can now, now that we have the space....

[2015-03-11 11:11] derekpa commented on #274
Navbar's now white on test

[2015-03-11 11:51] derekpa commented on #274
OK, I tweaked it. Removed the border (looked awful on the laptop) and made the colour black.

[2015-03-11 14:17] derekpa commented on #222
Precisely. I think it does make sense to allow one person voting, if like you suggest there are others writing proposals.

But what about the cases we have now, where Giovani is writing his proposals then voting on them?

It does make sense if we see people using Vilfredo to think through a problem and order a set of possible solutions he thinks up himself.

[2015-03-11 14:26] giovanisp commented on #273
needs lLESS compile + push to test

[2015-03-11 14:27] #274 closed

[2015-03-11 14:28] #269 closed

[2015-03-11 14:31] giovanisp commented on #222
I think this is also a valid use case. However we will always show the warning messages as in the mockups in #260 (let's do that first).

[2015-03-11 14:33] giovanisp commented on #260
In the light of use cases specified in #222, the First Phrase for each mockup should trim the "Once you have Xxxxxxxxxx" and keep only "You can xxxxx....." message.

[2015-03-11 14:40] giovanisp commented on #229
relates to fairdemocracy/vilfredo-core#63

[2015-03-11 15:53] derekpa opened #275 "Don't load voting results in writing phase"
The results triangle is only displayed in the voting phase

[2015-03-11 15:55] #275 closed

[2015-03-11 16:17] derekpa commented on #270
OK, looks like a Chrome issue. And no there are not multiple votes, it's just not refreshing properly on chrome.

[2015-03-11 16:21] derekpa commented on #270
So need to decide when the vote gets sent. If people are going to click all over the map very quickly and we want to reduce bandwidth we need to actually send the vote when the user shuts the triangle or clicks a button 'save vote'.

[2015-03-11 16:25] derekpa commented on #222
What do you mean " always show the warning messages "?

[2015-03-11 16:28] derekpa commented on #191
I think I said it somewhere else, but at the moment we do not show the user the question text, only the title and author. We should probably show the full question text (in a modal) before the user accepts or rejects.

[2015-03-11 16:53] vvorski commented on #270
I've always thought that it was strange there is no save button, just close window. That's very nonstandard...

V/.

[2015-03-11 16:55] giovanisp commented on #191
Yes. If the user clicks on the question, instead of doing nothing it can open a modal with the full text and repeat both "Accept / Reject" buttons at the bottom. Once clicked, the home dashboard refreshes with the new state.

[2015-03-11 16:56] giovanisp commented on #222
In the sense that it will keep showing the lonely user the message "Why not invite others?" "The more proposals the better"... In short it does not change anything, just the new message (see my last comment on #260)

[2015-03-11 16:59] giovanisp commented on #270
I suggested it some time ago... we did not agreed on having a save button. But I am for it, it was a performance issue (if you check developer tools - network you see how bad it performs with multiple clicks).

What is multiple aborting ?

[2015-03-11 18:17] derekpa commented on #270
@vvorski non standard? It's interactive. Why would that be non standard?

[2015-03-11 18:18] derekpa commented on #270
Multiple aborting means if a user clicks again quickly we could abort the previous Ajax call

[2015-03-11 18:20] derekpa commented on #270
The aim originally was to have the triangle interactive. You click, your vote is recorded. We didn't envision people making multiple fast clicks on a regular basis.

You think, you click and maybe you drag to change it.

But making the finagle interactive was an obvious design decision.

[2015-03-11 18:52] derekpa commented on #268
@giovanisp What people are shown that you don;t know?

[2015-03-11 20:29] vvorski commented on #270
For me it looked strange, I was searching for a "OK" button.

On a page with multiple options auto save makes sense.

In fact I think the whole voting would work better without a pop-up.

V/.

[2015-03-11 20:50] giovanisp commented on #270
Yes, getting rid of the modal box is in our priorities for the question voting page.

[2015-03-12 00:18] derekpa commented on #270
Well for me the idea of clicking on the triangle then having to click save would be odd, and to be honest, with fast internet just clicking and the vote is saved is what I imagine most people would expect.

[2015-03-12 00:18] derekpa commented on #270
Why are modals so bad?

[2015-03-12 00:22] derekpa commented on #270
Also, remember the client does not allow multiple voting. Its just on chrome things don;t tidy up so well at the moment.

[2015-03-12 08:00] vvorski commented on #270
On 12 Mar 2015, at 00:18, Derek Paterson <notifications@github.com> wrote:

Interesting question. I don't think that this one modal is so important. In the grand scheme of things Vilfredo needs a total UI overhaul with a professional designer so spending time focusing on details now is probably not useful use of time.

But since to me instinctively modals are bad I thought I'd try to explore where

[2015-03-12 12:24] giovanisp commented on #270
wow... I have no other to add after @vvorski 's great research. I follow his same principles on this matter. And agree that we will need UI overhaul in the future. For now, we can fix what we can to make it as usable as possible, based on our "limited" experience.

[2015-03-12 14:44] derekpa commented on #174
Sorry @giovanisp, could you make that clearer? You mean keep it as it is, without reading the text of the actual question?

[2015-03-12 15:04] derekpa commented on #270
OK @vvorski, shall read though your very thorough response later :-)

As to why modals have been used so much within the UI so far, first it was a quick way of building a client against which to develop the API and the core, which was actually the main purpose of this client.

As for the voting triangle, it needed to be large so displaying as a modal was the easiest way to do this.
To compare vote

[2015-03-12 15:59] derekpa commented on #270
Also, your argument is that modals are mostly a bad choice but not always. Reading through the arguments against them, yes I can agree, mostly they are bad. I would say that for the triangle a modal was not however such a bad choice - except for how they work on small screens - as the intention was indeed to focus the user's attention on a graphic representation of how much they understand and agr

[2015-03-12 20:42] derekpa commented on #186
Why 3 or more, and not 2 or more?

[2015-03-12 21:29] giovanisp commented on #174
I think that it is good as it is, but - as you said - we need to make the question text link take the user to the question in readonly mode until he accepts/rejects the invitation (following the above flow).
we can also add Accept/Reject buttons in the same place we are now positioning "move to...." Buttons with a blue info box "You have been invited to this question. Why not help now?"

[2015-03-12 21:53] giovanisp commented on #186
That was before we talked about the one-user voting use case. The user should be able to move his vote and see the effects in the resulting points connected.

[2015-03-12 22:09] giovanisp commented on #268
lanta
stefno
Pietro3

I don't remember in my list...

[2015-03-13 07:47] pietrosperoni commented on #186
Ok ignore the only after 3 or more. Let it function immediately even with a single person. We need to make some tests to see how it comes out.

[2015-03-13 07:49] pietrosperoni commented on #186
In fact I would suggest to have this depend upon an external constant x, that describes how many people need to have completed voting before you can see the results. Eventually x might depend on the question, some questions have a different x than others. But for now we need to be able to try and see how it comes out.

[2015-03-13 07:50] pietrosperoni commented on #186
by the way, I think this might be the biggest upgrade in terms of usability on this release. i am really looking forward for this. :-)

[2015-03-13 08:56] pietrosperoni commented on #270
One thing I would want to add. One of the reasons why modals are considered bad is because "they force the user into doing a specific action".
But this is exactly what we want to do in Vilfredo. Basically we are aiming to a direction where the user is guided over what to do. This to avoid that he only evaluates the proposals of his friends, or only the easy to evaluate proposals.

We have been dis

[2015-03-13 10:38] giovanisp commented on #273
hmm... I think the LES file was not compiled correctly, it seems it lost some of my changes. The black color is showing instead of the dark gray:
![image](https://cloud.githubusercontent.com/assets/180794/6636987/6e083034-c975-11e4-9f17-5c64ebf28573.png)

![image](https://cloud.githubusercontent.com/assets/180794/6636991/73dddef0-c975-11e4-8d44-c533a6ed53cd.png)

[2015-03-13 11:30] giovanisp commented on #270
I think it is unproductive to keep discussing UI/UX on something we have still to talk a lot about. We will probably need to design more than one UI for the triangle and test what it works best with users (called A/B testing). So, I would do a step back to the title of this issue, which deals with the "multiple voting", which, as I understood, should be solved by now. Is that correct @derekpa ?

[2015-03-13 14:20] derekpa commented on #186
Yes, but for that you only need 2, not 3. I was wondering where the 3 came from.

[2015-03-13 15:27] pietrosperoni commented on #186
I said 3 because taking the median, the votes become stable when you have at least 3 people voting. In this way people would not vote to the extremes just to move the vote in one direction or the other. In fact it might be that is good to permit this with a single person, with 3 (or more) persons, but not with 2 persons.

[2015-03-13 15:37] pietrosperoni commented on #268
lanta is a person from the Italian Pirate Party
Stefno is probably Stefano Stortone. I think you know him.
Pietro3 is my third username that I use to test,

[2015-03-13 16:36] giovanisp commented on #186
Yes, let's make this a parameter, default to 1 as of now. This gives us some room for future improvements.

[2015-03-13 17:20] giovanisp commented on #268
the fact is not that I "don't know who they are",  but ... in the context of Vilfredo, why they show up to me if I don't remember sending them direct invitations to my questions?  Are being added only because "they have participated in a question where I was participating as well" ?  If so, this list will get very big.

[2015-03-15 16:52] pietrosperoni commented on #268
indeed, the aim when I started in in Vilfredo 1 was to let it grow. We should decide how do we decide what should go in this list

[2015-03-16 09:37] giovanisp commented on #268
the most trivial answer would be "the most frequent users you find yourself engaged".
but I would split this into a quick solution for now (including limiting the size of the list), and a "research" issue for 2.2 or 2.3 that will have improvements in invitation process.

[2015-03-16 14:11] giovanisp commented on #83
Skipping to next. This is always ongoing. @derekpa So the solution is to identify the main files that must be loaded first and which other files can be loaded async.

[2015-03-16 14:13] giovanisp commented on #243
works.

[2015-03-16 14:13] #243 closed

[2015-03-16 14:31] giovanisp commented on #273
needs LESS compiling and page deploy on test.

[2015-03-16 14:32] #271 closed

[2015-03-16 14:38] giovanisp commented on #150
procrastinating... can't make it now.

[2015-03-16 14:39] giovanisp commented on #261
I need to be able to go to results even if I am the only one voting. See related issues.

[2015-03-16 14:53] giovanisp commented on #260
Ok for the Alert Boxes. Only missing the top lines:
![image](https://cloud.githubusercontent.com/assets/180794/6668469/77ca7188-cbf3-11e4-8f99-b236879da372.png)

Also, Edit buttons (to edit a question, or delete) should appear in the button bar, without a H2 Section for it. We can color these buttons differently if necessary, to convey a different type of actions is going to happen.

[2015-03-16 14:54] giovanisp commented on #254
ok

[2015-03-16 14:54] #254 closed

[2015-03-16 15:01] giovanisp commented on #222
Missing:

[2015-03-16 15:03] giovanisp commented on #218
Missing:

[2015-03-16 15:06] giovanisp commented on #187
I can't, missing button:

![image](https://cloud.githubusercontent.com/assets/180794/6668906/5309baea-cbf6-11e4-84f6-f917e7ea97f6.png)

[2015-03-16 15:06] giovanisp commented on #187
See #260 mockups for where to add the "Move to next generation" button. (In the space visible only to author)

[2015-03-16 15:09] giovanisp commented on #261
#187

[2015-03-16 15:09] giovanisp commented on #187
the comment above is related to #261

[2015-03-16 15:12] giovanisp opened #276 "on second generation, I have 2 proposals and can't move the question"
See the following case:
1 inherited proposal, and one new proposal = 2 proposals. Vilfredo doesn't allow me to move.

![image](https://cloud.githubusercontent.com/assets/180794/6669064/4ba5f0ce-cbf7-11e4-8f73-3eefbb474773.png)

[2015-03-16 15:14] giovanisp opened #277 "moved to next generation but the time counter hasn't updated correctly"
I just moved and now the counter reports a negative timing:

![image](https://cloud.githubusercontent.com/assets/180794/6669115/82ca3be6-cbf7-11e4-9b28-986da791fa02.png)

[2015-03-16 16:15] pietrosperoni commented on #150
let's wait until it's all done. We are all late

[2015-03-16 16:18] giovanisp commented on #150
ok. Need to try with PNG's ...can't make this work as it should.

[2015-03-16 16:37] giovanisp opened #278 "when home is loading, it flashes the underlying DIV's"
When there are a considerable amount of questions, and the pages take some seconds to load, when opening vilfredo for the first time will Flash the empty DIV's for question panels, to then make them disappear and show the non-logged in DIV.
Let's make all DIV's hidden first, and then just show what is needed, to avoid flashing empty DIV's to the user. Please check if the same behavior occurs in ot

[2015-03-17 12:03] derekpa commented on #270
No. Its a chrome issue i have to look at. It seems to happen when the person voting is clicking very fast, which is not normal behaviour.

[2015-03-17 19:32] pietrosperoni commented on #278
[example of something added later]

[2015-03-17 19:49] giovanisp commented on #278
It is a bug. Need to initialize hidden divs.

Inviato da iPad

[2015-03-18 09:17] giovanisp opened #279 "move the person who invited the user to the correct place"
On test.vilfredo.org the person who invited the user to a question should appear after the question text.
![image](https://cloud.githubusercontent.com/assets/180794/6705714/d9c4cb58-cd57-11e4-8d6d-59eb94fcaefa.png)

[2015-03-18 09:59] giovanisp commented on #194
I really need this feature !!!  :-D

[2015-03-18 10:02] giovanisp commented on #194
perhaps there should be the "Poke" small button also right after the proposal author's name, so we could poke him to move questions over. If the author is "anonymous", Vilfredo would poke him on the user's behalf  "Poke Author" presenting a modal to send a notification message. That requires "notifications" and "poke" in place.

[2015-03-18 10:03] vvorski opened #280 "I am not allowed to comment, but the screen allows inputing a comment"
This is really not nice. I wrote a long comment and the system now tells me it can't post it.

If comments are not allowed, then this screen should be blocked totally.

![screen shot 2015-03-18 at 10 01 47](https://cloud.githubusercontent.com/assets/1789426/6706478/fac58466-cd55-11e4-8672-0f761796755f.png)

[2015-03-18 10:04] giovanisp commented on #221
works on test.vilfredo.org for me. Chrome 41.0.2272.89 m

[2015-03-18 10:04] #221 closed

[2015-03-18 10:29] pietrosperoni commented on #279
have we already introduced invitations not by the author?

[2015-03-18 10:37] pietrosperoni commented on #194
Most of the questions right now are stopped as we wait for either images or multigeneration.

In any case do we really want the poke to be 1 to many, center to periphery, periphery to center. or do we what it to be all against all? So anybody can poke anybody else?

Remember that we are considering to go toward a system without a facilitator :-).

I would add the poke button next to each person in

[2015-03-18 14:24] lazanna opened #281 "I can not access to a question"
I received this invitation:
"... User Pietro has added you to the question How should Vilfredo collaborate with Airesis.
    http://vilfredo.org/question/37... "
I display the title in the list of questions, but I can not access this page.

[2015-03-18 14:33] pietrosperoni commented on #281
are you logged in with the correct username @lazanna ? You can only see a question if you are logged in.Rremember also  that you have made about 4 different usernames to test Vilfredo. :-)

[2015-03-18 21:12] giovanisp commented on #281
Anyway, we will need to add the invited username like "Hi username1 (or email if not registered), username2 has invited you ...." and even if the user isn't logged in when clicks on the invitation link, there should be a very easy way to login or register and continue the invitation process.

[2015-03-18 21:29] lazanna commented on #281
whatever was the problem, it was not for the use of avatars wrong.
avatars "in-fang" and "sp-fang" do not even listed the questions that you have not been invited.

[2015-03-18 21:57] pietrosperoni commented on #281
Yes, in fact I only invited you with one avatar. So, could you enter in the page now?

@giovanisp, @derekpa I suspect the problem is that the link is just a plain link to the question. It works if someone is logged in, but it does not work if someone is not logged in.
@derekpa , can we have a link that if you click on it, it will automatically log you in?

[2015-03-18 21:58] pietrosperoni commented on #281
@giovanisp , is this enhancement or bug? Where should it go? :-)

[2015-03-18 22:07] giovanisp commented on #281
Bug. as stated, if a user is invited and not logged in he either is presented with login (or registration) and then goes to the destination URL.

[2015-03-18 22:15] giovanisp commented on #280
Totally agree !!!!

[2015-03-18 22:20] giovanisp commented on #279
Not yet but the solution applies now to both cases (the author is the user inviting). Whenever it is possible, let's code keeping in mind future development.

[2015-03-18 23:31] lazanna commented on #281
The problem may be caused by Ghostery, on another installation of Firefox, I can log into my quest.
But strangely, It do not block access to test quests I had done

[2015-03-19 08:01] pietrosperoni commented on #281
I am lost @lazanna . What is the problem?
You have ghostery on FF. You can log in, but you cannot see the question? Can you try to delete the cookies and start again?
Do you prefer to explain it in Italian?

[2015-03-19 08:02] pietrosperoni commented on #280
Sorry @vvorski . I know how much that sucks.

[2015-03-19 13:08] lazanna commented on #281
I have disabled Ghostery, but still can not access the question "How Should Vilfredo collaborate with Airesis".

Close this issue, I will enter using the other computer.

[2015-03-19 14:39] pietrosperoni commented on #281
We had a similar issue with my father some time ago. What solved it for him was that he needed to clear his cache.

[2015-03-19 17:55] derekpa opened #282 "Fix results triangle voting for one user"

[2015-03-19 17:58] derekpa commented on #280
Actually I forget, did we ever decide whether comments should only be added during voting as it used to be? Can't remember.

[2015-03-19 18:01] derekpa commented on #273
OK, done.

[2015-03-19 18:34] giovanisp commented on #280
Yes, for now, only during voting.

[2015-03-19 18:53] derekpa commented on #186
Anyone have any sound reasons why we would show a user's votes and the median when the triangle shows the results of just one user?

[2015-03-19 23:50] pietrosperoni commented on #186
Hi @derekpa , I don't understand the question.
In the results triangle you show the medians of all the votes on all the proposals, not just the user votes of one.

[2015-03-20 10:15] derekpa commented on #186
I'm talking about when there is only ONE lone participant.

[2015-03-20 11:28] pietrosperoni commented on #186
Good point. So maybe when there is only one lonely voter we should just show his votes, with a warning.

[2015-03-20 14:32] derekpa commented on #186
A warning?

[2015-03-20 14:58] pietrosperoni commented on #186
yes, better than a warming.
Just to let him know that right now no one else has voted.

[2015-03-23 16:22] derekpa commented on #276
Yes, till now we've insisted on two NEW proposals which makes sense for just 1 generation. Fr gen 2 and up I would suggest setting it for at last one new.

So logic wise that would mean we allow moving to voting so long as there are a minimum of 2 proposals in total and at least 1 new one.

[2015-03-23 21:20] giovanisp commented on #276
@pietrosperoni what about if 2 or more proposals are inherited from previous generations and no new proposals are written? can it be moved to voting again (like a second round?)

[2015-03-24 07:36] pietrosperoni commented on #276
No. Because the results would be the same. No need to bother everybody with voting.
The key thing about using the triangle is that we gather enough info on the first round that we do not need to go through the second round (as instead happens in liquid, airesis, and so on).

[2015-03-25 09:43] pietrosperoni opened #283 "if the title is too long it cannot be read"
example:
![screen shot 2015-03-25 at 10 43 25](https://cloud.githubusercontent.com/assets/1333674/6821876/b98cc280-d2db-11e4-90f5-f8800c4abfb9.png)

instead it should go to a new line

[2015-03-25 09:43] pietrosperoni commented on #283
sorry for the extra work

[2015-03-26 12:15] vvorski opened #284 ""Agree" button on a question does not make sense."
What does it mean to "agree" with a question?
![screen shot 2015-03-26 at 12 10 37](https://cloud.githubusercontent.com/assets/1789426/6845956/c1dce812-d3b1-11e4-8c3f-21c283b0a979.png)

[2015-03-26 12:23] vvorski opened #285 "pop-ups on top of popups"
This will drive people crazy having to click on every point to see the full text.

Scrolling works just fine in a browser, let the page scroll!

![screen shot 2015-03-26 at 12 22 26](https://cloud.githubusercontent.com/assets/1789426/6846050/d62e30b8-d3b2-11e4-8261-3f6a689da422.png)

[2015-03-26 12:29] vvorski opened #286 "comment lost silently when switching to proposal"
Test case:
-) click on comment button on proposal
-) write comment
-) click on proposal

comment lost silently.

Since this screen does not display the full proposal (for me that is awful also), need to switch to it when writing a comment this makes the comment silently disappear.

Solution:

Either:
-) Whenever a user is about to switch away from a screen which will result in their input being lo

[2015-03-26 12:32] pietrosperoni commented on #284
"I also had the same question"? :-)
or
I also would like to know.

How would you rephrase it?

It is interesting how many people have a specific doubt, so I think we should measure it. But maybe calling it "agree was not correct.

[2015-03-26 12:34] pietrosperoni opened #287 "Vilfredo does not send notifications when proposals move from writing to voting."
We have now several questions that are on voting, but no one realised it.

I am not sure if this is an enhancement because we did not have it, or a bug because we had it but it's not working. Anyway, @giovanisp I let you decide the milestone. For me I think this should be ready yesterday :-)

[2015-03-26 12:36] vvorski opened #288 "Voting box does not display full proposal..."
It is hard to vote without seeing the full proposal forces me to click back to the full proposal view making the voting process really interrupty...

What I think is needed is a screen which allows people to just go through, read each proposal vote, and move to the next.

The usage flow needs to be "read, vote, next, read, vote, next" in fact maybe don't even need "next" as it could move to the ne

[2015-03-26 12:36] pietrosperoni commented on #285
You are right, but my understanding is that we are already going to take away all the modals, so is it ok @vvorski if we close this, as those popups will all go away with the modals?

[2015-03-26 13:02] pietrosperoni commented on #288
Hi @vvorski , the idea of having a flow is something very high in the todo list, but we still need to clarify it well. In particular in the flow it is important that people after they have voted can comment on the proposal. You know how in sociocracy it is important to give a reason why you are against a proposal. Here we need something similar. So if you vote on the left it should ask you to writ

[2015-03-26 15:19] lazanna opened #289 "clicking repeatedly on a triangle voting, moving the votes of OTHER solutions"
clicking repeatedly on a triangle to vote for a specific solution, I managed to move my votes on OTHER solutions

[2015-03-26 15:31] vvorski commented on #288
@pietrosperoni  yup. agree! Need to clarify which are the key user stories for which the UI is optimised and then do the user interface design which will support them.

I think how well the UI supports the key workflows *will* determine for many people whether they use the application or not.

[2015-03-26 16:31] pietrosperoni commented on #289
Thanks. Sounds like a bug. Could you make a screencast of yourself doing it, so that it can be used by @derekpa to try to understand what happened? Unless you can explain clearly how to reproduce it .

By the way, I know there is a problem that when you click rapidly it shows multiple votes, but those are all multiple votes of the same proposal. And only the last one is recorded (I gather). Are yo

[2015-03-26 18:38] lazanna commented on #289
a screenshot would not understand anything
I have attached the video
https://drive.google.com/open?id=0B89_e4FVNy_zUThqY0FsRW1TRlU&authuser=0
it seems that it happens more frequently if you move the feedback from left to right

[2015-03-26 19:10] giovanisp commented on #289
@derekpa from the video it seems similar to the "quick click" bug, but as you can see, it has moved also the grayed out votes on other proposals as well... Hence it should be treated as a new related bug.

[2015-03-26 20:33] giovanisp commented on #288
+1
And as @vvorski demonstrated, that's another case where the imodal to vote is used wrongly.

[2015-03-26 20:38] giovanisp commented on #285
Again, wrong modal usage. Modal over Modal !
We need to simplify those  screens, why don't we create a sprint for that?

[2015-03-26 20:44] giovanisp commented on #284
Let me be creative here.... what about using  a "+1" button ? :-)

[2015-03-26 21:53] pietrosperoni commented on #284
+1

[2015-03-26 21:54] pietrosperoni commented on #285
we can't even close 2.0.0RC and you want to make a sprint?

[2015-03-26 21:56] pietrosperoni commented on #289
Thanks @lazanna for the screencast (video about the screen). This is the kind of feedback that really helps us.

[2015-04-01 09:51] vvorski commented on #238
It seems to me btw. that there is a lot of discussion about the details when what is really needed is that full and thorough proper UI design to give good usability based on user stories.

[2015-04-02 08:39] giovanisp commented on #284
handed to @derek for next release

[2015-04-02 08:40] giovanisp commented on #285
before 2.1 perhaps.

[2015-04-02 08:44] giovanisp commented on #280
Now the page opens up totally blank. Can't we simply hide the icons (and links) so the user don't even see the functionality since it is not allowed ? A couple of IF's would suffice :-)
![image](https://cloud.githubusercontent.com/assets/180794/6960684/2fe8f062-d925-11e4-85d8-f4314d945a5f.png)
![image](https://cloud.githubusercontent.com/assets/180794/6960727/42b3c708-d925-11e4-9282-b419f724c4a8.p

[2015-04-02 08:45] giovanisp commented on #279
Cool! done.

[2015-04-02 08:45] #279 closed

[2015-04-02 08:46] #281 closed

[2015-04-02 08:48] #276 closed

[2015-04-02 08:49] giovanisp opened #290 "2 participants needed to end voting"
are we excluding the use-case where the user collects proposals and votes alone ?

![image](https://cloud.githubusercontent.com/assets/180794/6960770/dcda007c-d925-11e4-84d3-ff1a5f416a1e.png)

[2015-04-02 08:50] #273 closed

[2015-04-02 08:52] #229 closed

[2015-04-02 08:55] giovanisp opened #291 "add "request for invite" form on home page (and setup config)"
Relates to #229

Add a form for email address and a captcha (can use the common re-captcha from google) and add a "Request an Invite" text in the home page invitation-only message, so we can start gathering "interest" in using the vilfredo live site and start monitoring growth.

This options should be parametrized in the client settings conf file:

REGISTER_INVITATION_FORM = true

[2015-04-02 08:56] #186 closed

[2015-04-02 08:57] #191 closed

[2015-04-02 12:41] pietrosperoni commented on #191
![screen shot 2015-04-02 at 13 42 47](https://cloud.githubusercontent.com/assets/1333674/6964096/f78100de-d93d-11e4-8b78-bcd4cd374a7d.png)

[2015-04-02 12:45] pietrosperoni commented on #290
good question. Yes, it could be a good tool for people to ask for ideas, and then you just vote on all of them.

[2015-04-02 13:50] derekpa opened #292 "Add 'image only' proposals"
Ties in with issue 47 on core

[2015-04-02 14:19] derekpa opened #293 "Add linear voting"
Connected to #292

[2015-04-02 15:43] pietrosperoni commented on #293
:+1:

[2015-04-03 13:47] derekpa opened #294 "Resize triangle better for smaller (mobile) screens"

[2015-04-04 16:17] derekpa opened #295 "Add question voting type"

[2015-04-07 08:47] giovanisp opened #296 "Force HSTS"
As described here: https://developers.google.com/web/fundamentals/discovery-and-distribution/security-with-https/turn-on-strict-transport-security-and-secure-cookies?hl=en

[2015-04-07 08:49] giovanisp commented on #295
does that relates to a core feature ?

[2015-04-07 08:50] #294 closed

[2015-04-07 08:51] giovanisp commented on #288
Modal usage and workflow are already in the roadmap, please comment on those issues. Closing this as duplicate.

[2015-04-07 08:51] #288 closed

[2015-04-07 09:24] giovanisp commented on #293
is this on core as well ?

[2015-04-07 13:42] derekpa commented on #293
Yes, issues 73 and 74. I'll correct above.

[2015-04-10 12:12] derekpa commented on #277
Doesn't happen with me

[2015-04-10 21:52] pietrosperoni commented on #293
It works so so. First of all it is hard to recognise. I would add a black line on contour to identify the part where people vote. Then the vote should not appear as a circle (that is a 2d representation for 2d voting, ie trangle) but as a vertical line. In fact we should, later order the proposal in a single column and connect each proposal to the position in the line. Something similar to this:

[2015-04-10 21:54] pietrosperoni opened #297 "BUG, same proposal appearing multiple times"
When I submit a proposal, and the server is slow, the result is that I click again and again and again, and at the end I end up submitting 25 times the next proposal. Surely one thing is to make the server more responsive, but another is that it should simply never accept two times the same proposal

![screen shot 2015-04-10 at 22 46 48](https://cloud.githubusercontent.com/assets/1333674/7098112/8

[2015-04-10 21:55] pietrosperoni commented on #286
@vvorski since you called this bug, check out if it still does it on test.vilfredo.org :-)

Thanks

[2015-04-10 21:59] pietrosperoni opened #298 "There shouldn't be an edit or a delete button during the voting phase"
Example:

![screen shot 2015-04-10 at 23 00 10](https://cloud.githubusercontent.com/assets/1333674/7098177/2fefc642-dfd5-11e4-89a4-00fe5e8d4239.png)

[2015-04-10 22:00] pietrosperoni commented on #298
At least the delete button might make sense. You see a proposal is double and you delete it. But the edit button does not even work:

![screen shot 2015-04-10 at 23 02 17](https://cloud.githubusercontent.com/assets/1333674/7098193/6624e27e-dfd5-11e4-8024-0035895b7e00.png)

[2015-04-10 22:03] pietrosperoni commented on #283
perfect, :-)

[2015-04-10 22:03] #283 closed

[2015-04-10 23:29] giovanisp commented on #298
I think both buttons should disappear in voting phase.
Duplicate proposals can be object of a future "merge proposals" feature so authors can agree to merge proposals before voting (or during if all voters are notified).

Inviato da iPad

[2015-04-10 23:31] giovanisp commented on #297
Haven't we already decided that the proposal title should be unique ??? We just need to enforce this on saving.

[2015-04-11 02:05] #286 closed

[2015-04-11 02:06] vvorski commented on #286
looks ok now. well within the constraints of the existing vilfredo UI...

[2015-04-11 07:59] pietrosperoni commented on #286
Thanks :-). One thing at a time :-)

[2015-04-11 08:03] pietrosperoni commented on #298
merge proposals is very needed, but also very difficult to do. Because you basically need to select two proposals and then merge them. Maybe dropping one proposal over another could work?
And then a box asking to the person if he really means it. If the answer is yes then the two proposals might be seen as alternative description of the same idea. Of course both authors need to agree.

[2015-04-11 08:05] pietrosperoni commented on #297
yes. unique among the proposals in the question (not unique among all the proposals written on the website)

[2015-04-11 16:39] derekpa commented on #298
Yes I spotted this. Should be ok now.

[2015-04-14 14:46] derekpa commented on #289
@giovanisp Sure, but it was pretty obviously  the same bug.

[2015-04-19 18:25] giovanisp opened #299 "404 on templates"
All templates on test.vilfredo.org are returning 404:

![image](https://cloud.githubusercontent.com/assets/180794/7220710/3eaba094-e6d2-11e4-89e4-1476da9c3bca.png)

[2015-04-22 15:04] derekpa commented on #96
This should all be fixed now.

[2015-04-22 15:09] derekpa commented on #130
Not yet no. No time.

[2015-04-22 15:45] derekpa opened #300 "Make sure line breaks convert to html for question blurb on question page"

[2015-04-22 15:49] #300 closed

[2015-04-24 12:08] derekpa opened #301 "Remove duplicate api calls"

[2015-04-24 13:15] derekpa opened #302 "Fix display of comment text"

[2015-04-24 13:18] derekpa commented on #177
This should b done now. Let me know if you still see it displayed wrong anywhere.

[2015-04-24 13:19] derekpa commented on #210
This should be fixed now.

[2015-04-24 13:30] derekpa commented on #272
Some thoughts.

Suppose Pietro wants to know all of the Game of Thrones producer's questions so he can suggest a storyline, not the same questions asked by the mass of fans? How do he find them?

Also, anyone asking a question could publish the link so we know who the author is anyway (which a proposal author cannot do).

[2015-04-24 13:33] derekpa commented on #90
Let's move this to 2.1

[2015-04-25 12:18] #302 closed

[2015-04-25 12:22] derekpa commented on #83
After all he discussion, the simple answer was yes, there were repeat calls being made, so I've removed them :-)

[2015-04-25 12:56] derekpa opened #303 "Improve svg display for smaller screens"

[2015-04-27 14:26] derekpa commented on #219
Overflow set to auto. Only happens sometimes on chrome. Not worth wasting time on something as minor as this this at the moment.

[2015-04-30 09:31] #303 closed

[2015-05-02 10:23] derekpa opened #304 "Update and fix domination page"

[2015-05-02 17:25] #219 closed

[2015-05-06 19:46] derekpa commented on #104
Yes, we can just have a simple admin role for now as in vilfredo 1.

Are you still using the algorithms page pietro?

[2015-05-07 21:39] derekpa opened #305 "reposiion error messages on new question page"

[2015-05-07 21:41] #305 closed

[2015-05-08 15:19] giovanisp commented on #260
derek... do we still miss the top messages ?  I see this:

![image](https://cloud.githubusercontent.com/assets/180794/7539277/372f3dde-f5a6-11e4-8afb-5b5f3c0310f9.png)

instead of this:

![image](https://cloud.githubusercontent.com/assets/180794/7539291/4f7cf11a-f5a6-11e4-8c87-302e19795b13.png)

[2015-05-08 15:19] giovanisp commented on #301
not sure what is this about... why did you assigned it to me ?

[2015-05-08 15:22] #299 closed

[2015-05-08 15:24] #290 closed

[2015-05-08 15:26] giovanisp commented on #297
what was the solution here, @derekpa  ?
@pietrosperoni do you still experiment this?

[2015-05-08 15:28] #298 closed

[2015-05-08 15:29] giovanisp commented on #295
@pietrosperoni I think you are more into this one ... ? I did not get what is the issue about. @derek, any clarifications of what it does on the client ?

[2015-05-08 15:41] giovanisp opened #306 "image must be proportional in proposing and viewing proposal"
either resized to fit height or width, or cropped if too big (and a thumbnail created to make proposal/voting pages lighter). Never lose the proportion, it makes it ugly:

![image](https://cloud.githubusercontent.com/assets/180794/7539734/3635bb6c-f5a9-11e4-8aa9-b77b98781db5.png)

![image](https://cloud.githubusercontent.com/assets/180794/7539751/5c301538-f5a9-11e4-9501-e86b9d2461b4.png)

[2015-05-08 15:42] #292 closed

[2015-05-08 15:42] giovanisp commented on #277
Use chrome. It happens everytime I move a proposal to voting.

[2015-05-08 15:45] giovanisp commented on #289
Seems good here. @lazanna  do you still have this problem ?

[2015-05-08 15:49] giovanisp opened #307 "rename "question type" to "proposal type""
A question type "image" leads the user (also led me) to think you post an image as a question and then people comment if it is good or bad.

The best label for this feature is "Proposal Type", just rename "question type":

![image](https://cloud.githubusercontent.com/assets/180794/7539900/866934aa-f5aa-11e4-98a0-b6c674ea0d2b.png)

[2015-05-08 15:50] giovanisp commented on #307
in the future we should support a "Image Question" where for instance I can post a mockup and receive feedback or proposals on how to make it better. Then, at the next generation, I post a "version 2" and the discussion continues until all agree it is a good design. Adding this as a feature.

[2015-05-08 15:51] giovanisp opened #308 "Allow image on creating a question"
we should support a "Image Questions" where for instance the user can post a mockup and receive feedback or proposals on how to make it better. Then, at the next generation, she'll post a "version 2" and the discussion continues until all agree it is a good design.

[2015-05-08 15:54] giovanisp commented on #287
I moved one question of mine to voting and did not get any email.
Are we sending email to everyone else except the author? If so, can you move one of your questions on test, @derekpa ?

[2015-05-08 15:58] giovanisp commented on #162
it's there. Images+text  proposals was added as a new issue.

[2015-05-08 15:58] #162 closed

[2015-05-08 16:00] giovanisp opened #309 "Allow proposal type "Image + Text""
Allow to chose proposal type as "Image + Text" where the user has to send his image and an explanatory text about it (both fields mandatory). Relates to #162

[2015-05-08 16:00] #83 closed

[2015-05-08 16:00] giovanisp commented on #282
not sure what it is....

[2015-05-08 16:14] giovanisp commented on #284
the "v" icon does not resemble a "+1" or "like"... let's use the simple CSS without icons,  just "+1" next to it, perhaps showing the total number of "+1's" received...  Or the like button but with the sum number next to it so it is relevant of how many other people find that question interesting.

[2015-05-08 16:15] #280 closed

[2015-05-08 16:17] giovanisp commented on #270
seems to work pretty well !!

[2015-05-08 16:17] #270 closed

[2015-05-08 16:18] #261 closed

[2015-05-08 16:18] pietrosperoni commented on #189
No, it does not work.

I went to question 4 on the test page: http://test.vilfredo.org/question/4
and changed my vote for proposal Fair Democracy. Voting against it. As a result now the Pareto front had 6 elements dominating everything else and two other proposals.
Instead in the triangle you can only see 4 proposals. Not in particular that proposal 12 is in the Pareto Front below but it is shown

[2015-05-08 16:19] #187 closed

[2015-05-08 16:25] giovanisp commented on #222
see the previous comment... cases are still missing the proper wording:

![image](https://cloud.githubusercontent.com/assets/180794/7540611/656f6dbe-f5af-11e4-978e-d21a9ec7ac0c.png)

remember to apply the wording to the other boxes as well (proposals and ended questions)...

[2015-05-08 16:27] giovanisp commented on #218
ok...  no * for mandatory fields.... we will deal with it globally later on.

[2015-05-08 16:27] #218 closed

[2015-05-08 16:28] giovanisp opened #310 "confusing information on abstract for user"
this is confusing:
![image](https://cloud.githubusercontent.com/assets/180794/7540705/049c184c-f5b0-11e4-8a9b-872a20445069.png)

[2015-05-08 16:28] #190 closed

[2015-05-08 16:29] #188 closed

[2015-05-08 16:29] giovanisp commented on #188
can be prettier....

[2015-05-08 16:34] giovanisp opened #311 "get rid of modal for readonly invited questions"
Let's not usa a modal for this (again...) but rather re-using the question page template and position the buttons "accept/reject" in the place where actually we find "submit proposal" "move to voting"...  It helps creating a coeherent placement for action buttons for the users.

![image](https://cloud.githubusercontent.com/assets/180794/7540818/d2f59754-f5b0-11e4-995d-4562457255a9.png)

[2015-05-08 16:34] giovanisp commented on #174
I did not meant using a modal (again...) but using the question page and the buttons "accept/reject" in the place where actually we find "submit proposal" "move to voting"...  But I created another issue for that  #311.

[2015-05-08 16:34] #174 closed

[2015-05-08 16:34] giovanisp commented on #311
Also add a blue info box "You have been invited to this question. Why not help now?"

[2015-05-08 16:49] pietrosperoni commented on #104
No, thanks. Not at the moment. But there are some new tests we could do soon, so I would not delete it completely.

[2015-05-08 16:56] pietrosperoni commented on #109
Yes, that works :-)

[2015-05-08 16:56] #109 closed

[2015-05-08 17:03] pietrosperoni commented on #301
@giovanisp I think this was assigned to you because you are the only one that can test it. @derekpa correctly is asking you to review his work, and I cannot do it.

[2015-05-08 17:09] pietrosperoni opened #312 "Letting users know what power they have in each question (WAS: Can't write a proposal in generation 2)"
Hmm, apparently on generation 2 there is no button to propose new ideas.

[2015-05-08 17:10] pietrosperoni commented on #312
Example: http://test.vilfredo.org/question/13

[2015-05-08 17:12] pietrosperoni commented on #297
Hard to reproduce. At the time the system got stuck, now it is working but I don't know if it is because we are doing things better or it is just casually. In any case, no right now I cannot experience it again

[2015-05-08 17:13] pietrosperoni commented on #295
Yes, for now it is ok. Later we are going to work out a wizard

[2015-05-08 17:13] #295 closed

[2015-05-08 17:14] pietrosperoni commented on #277
Giovani, you are living in the past

[2015-05-08 17:18] pietrosperoni commented on #307
This is an interesting idea @giovanisp , can you post it as a separate thread. The main question is: how can you set up a system where you can have a meta question, where the branches are questions, that then begets proposals.
So how should we do a logo?
question 1: what about this? How can we improve it?
question 2: what about this? How can we improve it?
question 3: ...

In any case, not related

[2015-05-08 17:20] pietrosperoni commented on #308
The main question is: how can you set up a system where you can have a meta question, where the branches are questions, that then begets proposals.
So how should we do a logo?
question 1: what about this? How can we improve it?
question 2: what about this? How can we improve it?
question 3: ...

I would say, this goes into the general area of how do you tie together various questions to handle a c

[2015-05-08 17:21] pietrosperoni commented on #307
Thanks @giovanisp for posting this as #308 .

Regarding here, yes, it should be proposal type .

[2015-05-08 17:24] pietrosperoni commented on #309
Both fields are mandatory sounds like a prison. What about simply letting people add images inside their proposals? A bit like Quora does it?

[2015-05-08 17:24] pietrosperoni commented on #309
And we should have that way before 2.4

[2015-05-08 17:36] pietrosperoni commented on #293
Ok, I tested it. Once a person votes it's ok. But it is REALLY difficult to realise how you vote. Because the line is white. Can we have a continuosly colored bar, like this one:

![screen shot 2015-05-08 at 18 36 18](https://cloud.githubusercontent.com/assets/1333674/7541917/c3c56b74-f5b0-11e4-831e-767f9df5ae44.png)

The problem with the triangle was that we needed it to go smooth on two directio

[2015-05-08 17:39] pietrosperoni commented on #268
Not sure why this is assigned to me, @giovanisp ?

[2015-05-08 17:40] #212 closed

[2015-05-08 19:49] lazanna commented on #289
Yes, the problem occurs again ... only if you move the rating from right to left

[2015-05-09 09:36] giovanisp commented on #109
What is done and will be release in 2.0 is being moved in github to 2.0 milestone. I think we are close to ship.

[2015-05-09 09:45] giovanisp commented on #309
Ok, sound fair.

[2015-05-09 09:47] giovanisp commented on #268
@derekpa what are you implementing right now for 2.0.0 ? So we can split enhancements in future issues ...

[2015-05-09 09:50] giovanisp commented on #293
Am I invited to a test linear voting? Can we all create more test questions and invite each other and write many test proposals and vote them? :-)

[2015-05-09 10:05] giovanisp commented on #301
Ok, got it. I need the API documentation completed to do that and the auto-generated dev.vilfredo.org/v2 with sample usage. Is this ok already?
I also need to know which duplicated calls were eliminated, since it was not described in the issue.

[2015-05-09 10:12] giovanisp commented on #312
You probably do not have propose or vote permission. Here is the screen, @derekpa if this is the problem we need to make clearer what the invited user can do (by opening a new issue). Let us know why he can't write a proposal.

[2015-05-09 10:15] giovanisp commented on #297
Ok. To reopen if happens again.

[2015-05-09 10:16] giovanisp commented on #289
@derekpa your turn :-)

[2015-05-09 21:22] pietrosperoni commented on #293
Ok, I invited you here: http://test.vilfredo.org/question/28

Have fun :-)

[2015-05-09 21:24] pietrosperoni commented on #312
You mean you invited me to a question without giving me any power?

I have no words to express my feeling of betrayal. I thought you a friend ;-)

[2015-05-09 21:27] pietrosperoni commented on #312
ok, works on a question where I invited myself to do everything :-P

[2015-05-09 21:28] pietrosperoni opened #313 "The participation table should have different columns for the various generations"
For example here it is not clear that Pietro3 did not author any proposal in this generation

![screen shot 2015-05-09 at 22 30 21](https://cloud.githubusercontent.com/assets/1333674/7552110/be03eb62-f69a-11e4-9013-56dd5ad2ab93.png)

[2015-05-09 21:29] #297 closed

[2015-05-09 22:25] giovanisp opened #314 "Invitation link does not take to question page and its content"
Here is the current email received:

first, the link is generic to the home page. It Should instead take the to the question page (I have opened an issue for the question page invitation) where there are the accept/reject invitation.

let's get rid of "User" and use only the user's first name. Also, the title of the question should be quoted so it is isolated from the rest of the phrase.

[2015-05-09 22:27] giovanisp commented on #314
#311  Is a pre-requisite for this.

[2015-05-09 22:34] giovanisp commented on #293
Sure you did? By clicking the link I get "Error: you have not been invited to participate in this question." Maybe relates to #311 @derekpa ?

Inviato da iPad

[2015-05-09 22:35] giovanisp commented on #312
So this issue becomes "letting users know which powers they have on every proposal?"

[2015-05-09 22:37] #287 closed

[2015-05-09 22:39] giovanisp opened #315 "Vilfredo does not send notifications when proposals move from Voting to results"
Vilfredo does not send notifications when proposals move from Voting to results

[2015-05-09 22:40] giovanisp opened #316 "Vilfredo does not send notifications when proposals move to next generation"
The email sophould tell the generation number and how much time it took.

[2015-05-10 17:12] pietrosperoni commented on #293
have you accepted the invitation? I cannot invite you again, so you are not in the list of the people I can invite but you are also not in the list of people who can participate. I would say you need to accept.

By the way, when someone is invited to a question, shouldn't he be able to see the question?

Maybe not the proposals before he accepts, but surely the text of the question yes

[2015-05-10 17:13] pietrosperoni commented on #312
Ok, changed the title

[2015-05-11 10:35] derekpa commented on #301
Its ok giovani. I opened this myself to make a push. I removed some duplicates. I know the ons I saw are gone now so I can just close this. Didn't mean to assign to you.

[2015-05-11 10:35] #301 closed

[2015-05-11 10:37] derekpa commented on #282
This is another I added for me, The reuslts triangle now allows a single voter to drag and update his vote. Before it was not possible.

[2015-05-11 10:40] derekpa commented on #312
Yes, if you granted no write permissions the button won;t appear.

Needs to be more descriptive.

[2015-05-11 12:53] pietrosperoni commented on #282
Hi @derekpa . If you have three voters, and a central one has the vote that is in the same position of the result (being the median), can this person still change his vote on the result triangle?

[2015-05-11 12:55] pietrosperoni commented on #312
"your soon to be ex friends invited you to view a question, but not to participate."

[2015-05-11 12:56] pietrosperoni commented on #312
Maybe it is better to have the button greyed, and the explicative phrase when you go over it. ALthough it does not work on the ipad and tablets. So it should also written somwhere else.

[2015-05-11 23:02] giovanisp commented on #301
Ok, thanks.
Let's get that document about the API ready and also on dev.vilfredo.org
I think that after 2.0.0 anyone should be able to make a simple client (we could open an issue to create a tutorial on this)...

[2015-05-13 09:40] derekpa opened #317 "Proposal mage not displaying in inherited list"

[2015-05-13 09:44] #317 closed

[2015-05-13 11:32] derekpa commented on #268
@giovanisp  what  you see here

[2015-05-13 11:35] derekpa commented on #284
V icon? Its a tick....

[2015-05-13 11:37] derekpa commented on #289
Makes no sense. Are we talking about the voting triangle and clicking?

[2015-05-13 13:13] lazanna commented on #289
My test was made on vilfredo.org (not test.vilfredo.org).
The browser is Firefox 37.0.2.

[2015-05-13 14:17] derekpa commented on #222
I did. Could you be more specific?

[2015-05-13 14:20] derekpa commented on #289
Fixes to issues are pushed to test, then the live site only gets the fixes on a new release - unless we add a hotfix.

So it should be working correctly on test at the moment.

Sorry for the confusion :-)

[2015-05-13 19:13] giovanisp commented on #289
Closing for now. If it reappears we can reopen this.

[2015-05-13 19:15] giovanisp commented on #293
Waiting for a fix for the invitation (I think there is an issue for that). In the meantime I will accept manually.

[2015-05-13 19:48] giovanisp commented on #222
Phrases in the comment above and in the image do not match exactly. Or is it my cache?

[2015-05-14 09:17] derekpa commented on #222
![screen shot 2015-05-14 at 10 16 30](https://cloud.githubusercontent.com/assets/1368533/7629167/74385460-fa22-11e4-83cb-29287ba28eff.png)
![screen shot 2015-05-14 at 10 16 46](https://cloud.githubusercontent.com/assets/1368533/7629168/743d1a36-fa22-11e4-9bc4-533cb06565b3.png)

[2015-05-14 09:26] derekpa commented on #277
I'm kind of at a loss.
![screen shot 2015-05-14 at 10 25 02](https://cloud.githubusercontent.com/assets/1368533/7629341/9dcc0bf4-fa23-11e4-8073-4e0b97d7d49b.png)

@pietrosperoni you get this or are you also living in the past?

[2015-05-14 11:41] derekpa commented on #268
@giovanisp  the way it should work, unless there's an error, is an associated users is anyone who has participated in a question you have participated in.

[2015-05-14 12:03] derekpa commented on #268
@giovanisp Example, lanta... you both participated in question 4.

[2015-05-14 12:05] derekpa commented on #268
"Are they being added only because "they have participated in a question where I was participating as well" ?  If so, this list will get very big." --- yes, that is the setting for now.

[2015-05-14 13:58] derekpa commented on #268
For now I'll initially show users related by dirct invitation rather than participation.

[2015-05-14 14:42] derekpa commented on #289
Its fixed! lazanna was testing on the live site, the fix is on test, as explained.

[2015-05-14 18:58] giovanisp commented on #268
Yes this is better than before. In next releases lets make it smarter by counting the frequency of interactions and proposing "recurrent" people that decide together.

[2015-05-14 21:42] giovanisp commented on #289
? I have indeed closed the issue. Not sure why you reopened this if it was fixed. You can close it if is really fixed.

[2015-05-14 21:56] giovanisp commented on #277
Which browser are you using? Also, i get the "past" message when moving to voting.

Inviato da iPad

[2015-05-15 11:14] derekpa opened #318 "Go straight to question page after creating qustion"

[2015-05-15 11:16] #318 closed

[2015-05-15 11:28] derekpa commented on #310
Yes, should have removed that.

[2015-05-15 11:31] derekpa commented on #289
Not sure why i did either. Thought i'd just removed the wontfix label.

[2015-05-15 11:31] #289 closed

[2015-05-15 11:41] derekpa commented on #277
Just moved to voting on chrome 40 on macbook. You cleared your cache? Pietro, you getting this bug?

![screen shot 2015-05-15 at 12 34 47](https://cloud.githubusercontent.com/assets/1368533/7652058/a9159386-faff-11e4-8a57-6dc1fae917d8.png)

[2015-05-15 11:41] derekpa commented on #277
I wonder if its a timing thing caused by slow loading.

[2015-05-15 12:04] derekpa commented on #282
Yes

[2015-05-15 13:25] derekpa commented on #277
Nope. Can't reproduce this. @giovanisp could you make a video of this?

Pietro does this happen to you- on TEST?

[2015-05-15 14:42] derekpa commented on #260
Have you cleared your cache recently and are you using test?

![screen shot 2015-05-15 at 15 41 38](https://cloud.githubusercontent.com/assets/1368533/7655040/0497f80c-fb19-11e4-989a-1673529a1b66.png)

[2015-05-15 20:00] giovanisp commented on #260
Your picture is different from this posted above:
https://cloud.githubusercontent.com/assets/180794/7539291/4f7cf11a-f5a6-11e4-8c87-302e19795b13.png

[2015-05-15 20:02] giovanisp commented on #260
The 3 lines on the right of the picture leaves more vertical screen real estate left.

[2015-05-16 10:45] derekpa opened #319 "Improre participants and invitations panel"
Improve layout

[2015-05-16 14:18] pietrosperoni commented on #317
Uh, can someone explain me what is this :-)

[2015-05-16 20:32] derekpa commented on #319
Show user and email invitations sent.

[2015-05-17 09:32] derekpa commented on #319
Still need to add resend but that's an issue for 2.1

[2015-05-17 11:23] derekpa commented on #317
Images were not displaying in the proposals of the inherited list which appear in generation 2+ due to missing code.

[2015-05-17 11:26] derekpa commented on #260
Ah, hadn't noticed the text was aligned right.

[2015-05-17 15:18] derekpa commented on #260
Nicer :-)

[2015-05-18 15:18] #319 closed

[2015-05-18 15:19] #307 closed

[2015-05-18 15:23] giovanisp commented on #312
@pietrosperoni can you check the question again ?  or invite me without voting or proposal permissions ?

[2015-05-18 15:24] #310 closed

[2015-05-18 15:30] giovanisp opened #320 "error message should be more specific (image proposals)"
I got an error while uploading an image. The system needs to tell me what's wrong. If there are limittions on what kind or size of image to send, then it needs to be specified (also before sending).

![image](https://cloud.githubusercontent.com/assets/180794/7684066/8a087e32-fd83-11e4-9c63-b6b568ca4587.png)

[2015-05-18 15:34] giovanisp commented on #306
Still not proportional for height > width :

![image](https://cloud.githubusercontent.com/assets/180794/7684135/17a6323e-fd84-11e4-8c9f-19acddcc69b1.png)

[2015-05-18 15:37] giovanisp commented on #293
@derekpa ... we need to get rid of the gray background here and color the voting bar. I couldn't guess that I was expected to vote in the white space...  Also, the "triangle vote" must be changed to another icon type (which makes more sense in both cases - triangle and linear).

![image](https://cloud.githubusercontent.com/assets/180794/7684205/95a2e146-fd84-11e4-8f20-f712df11e95d.png)

[2015-05-18 15:40] giovanisp commented on #284
nice !!

[2015-05-18 15:40] #284 closed

[2015-05-18 15:41] giovanisp commented on #282
@pietrosperoni  up to you. Is this fine for you ?

[2015-05-18 15:48] #268 closed

[2015-05-18 15:49] giovanisp opened #321 "intelligent "suggest invitation""
based on #268:

"lets make it smarter by counting the frequency of interactions and proposing "recurrent" people that decide together to appear in the limited space for proposed users to invite."

[2015-05-18 15:50] giovanisp commented on #260
definitely.

[2015-05-18 15:50] #260 closed

[2015-05-18 15:53] giovanisp commented on #222
@derekpa   in the voting panel replace "Out of x participants no one started voting. Be the first"  with only  "No one started voting. Be the first!".

It is shorter, the important message there is that no one started voting. We should avoid long phrases. People tend not to read a lot.

[2015-05-18 15:55] giovanisp commented on #150
postponing. we need to launch 2.0.0 ... this is not urgent.

[2015-05-18 15:56] giovanisp commented on #112
postponing. we need to launch 2.0.0 ... this is not urgent.

[2015-05-18 15:56] giovanisp commented on #265
postponing. we need to launch 2.0.0 ... this is not urgent.

[2015-05-18 15:58] giovanisp commented on #277
I will, soon. Anyway seems I am the only one having this issue, so let's postpone as not urgent and just go ahead with 2.0.0.

[2015-05-19 13:43] pietrosperoni commented on #317
is a "proposal mage" somehow related to a wizard to write proposals?

[2015-05-19 18:29] giovanisp commented on #317
Yes, those are proposals that can auto-solve the question. You don't have to do anything!

Inviato da iPad

[2015-05-20 10:22] derekpa commented on #193
This is a duplicate of issue #34 for release 2.4. You should close this.

[2015-05-21 18:15] pietrosperoni commented on #312
I just went to the page and again it shows nothing. I will now make a qquestion and invite you with no power

[2015-05-21 18:17] pietrosperoni commented on #312
Ok Derek and Giovani, you should have seen the question now:
http://test.vilfredo.org/question/35

[2015-05-21 18:21] pietrosperoni commented on #293
Ok, it's better than before. although I think it can be done much better having the continuous background

[2015-05-21 18:22] pietrosperoni commented on #293
@derekpa what about the colored band I placed above. Is that not usable. Or should we wait until we move out of the modal phase?

[2015-05-21 18:31] pietrosperoni commented on #282
Yes, tested. It works fine. We still have a problem with proposals that cannot be voted above each other. Which means some proposals cannot be voted in some positions. But the moving side works perfect, thanks (and by the way, i asked myself a question that I needed, and was good as a self brainstorming session)

[2015-05-21 18:31] #282 closed

[2015-05-21 18:32] pietrosperoni commented on #321
:+1:

[2015-05-21 18:35] pietrosperoni commented on #277
it is not happening on me

[2015-05-21 18:36] pietrosperoni commented on #317
:+1:  :-)

[2015-05-21 18:36] #193 closed

[2015-05-22 17:09] derekpa commented on #312
Gorgeous. I get this.

![screen shot 2015-05-22 at 18 07 54](https://cloud.githubusercontent.com/assets/1368533/7775736/a17cd9aa-00ad-11e5-9240-eed2808ae7f3.png)

[2015-05-22 17:15] derekpa commented on #293
What do you mean?

[2015-05-22 17:16] derekpa commented on #293
Huh? What coloured band?

[2015-05-22 21:01] giovanisp commented on #312
Me too. Seems to work fine.

[2015-05-22 21:01] #312 closed

[2015-05-22 21:06] giovanisp commented on #293
The one on https://github.com/fairdemocracy/vilfredo-client/issues/293#issuecomment-100307381  And the proposals are the usual circles moved within the bar.

[2015-05-22 21:10] giovanisp commented on #282
Open a bug/enhancement for a next version for what is to be done on this front later. add the "not utgent" label if it is a non urgent issue.

[2015-05-23 10:05] pietrosperoni opened #322 "Letting the position of votes not depend on the other votes of a proposal"
Right now a proposal cannot have the same vote as another proposal. Because the two votes superimpose to each other and the system does not permit it.

But each proposal should be totally independent in its evaluation. And if two proposals are too close it is our problem to solve. But it should not affect the way people are allowed to vote. Somehow we should have a way to distinguish proposals tha

[2015-05-23 10:06] pietrosperoni commented on #322
This is related to #282 .

[2015-05-23 12:04] giovanisp commented on #322
The label "Question" is already meaning that there is a vilfredo question :-) or at least that was its purpose. let's rename the label "Question" into "Vilfredo Question". and put vilfredo link on it and github link on vilfredo question :-)

Inviato da iPad

[2015-05-23 13:06] pietrosperoni commented on #322
I was waiting for the new version of Vilfredo to be in place to ask the question...

[2015-05-24 21:34] #306 closed

[2015-05-24 21:35] #222 closed

[2015-05-24 21:36] giovanisp commented on #293
considering ok for linear voting. Enhancements go to 2.1

[2015-05-24 21:37] giovanisp commented on #189
closing. enhancements go to 2.1 @pietrosperoni

[2015-05-24 22:59] pietrosperoni commented on #189
Sorry, but this was one of the key things for 2.0.0. Let me see the review and decide if this is to be closed or not

[2015-05-24 23:08] pietrosperoni commented on #293
@giovanisp I object. This is not ok by any means. We cannot have people use this voting in this way. And this and few other things will be stopping Vilfredo from being used.

[2015-05-25 14:40] derekpa commented on #189
This was working for me. Has no-one tested it yet?

[2015-05-25 17:30] pietrosperoni commented on #189
Let me test this again

[2015-05-25 17:32] pietrosperoni commented on #189
Yes, it works, sorry.

[2015-05-25 17:32] #189 closed

[2015-05-25 19:38] giovanisp commented on #293
What is fundamental before saying " it works"? Let's add small enhancements into a patch if needed.

[2015-05-25 19:41] giovanisp commented on #189
Too much work for Pietro :-)

[2015-05-28 11:02] derekpa commented on #293
OK, finally got rid of that weird bug. Looks like it might have been a bug in the svg library.

[2015-05-28 14:00] pietrosperoni commented on #293
Yes, good! Thanks

[2015-05-28 14:00] #293 closed

[2015-05-28 18:20] giovanisp opened #323 "better contrast for the "Understand" text and bar when voting"
Let's change the color of "Understand", it has very poor contrast. It can be orange or gray
or any better color contrast (best if one of approved W3C color contrast: http://webaim.org/resources/contrastchecker/

![image](https://cloud.githubusercontent.com/assets/180794/7867538/fbe5ea62-0576-11e5-865c-d48d2d6490d8.png)

[2015-05-29 06:23] pietrosperoni commented on #323
Opened Question 45 on this:
https://vilfredo.org/question/45

[2015-05-30 12:53] pietrosperoni opened #324 "I should be able to recognise on the questions page all the questions I have said I have nothing to add"
At the moment I have a series of questions in the question board, in some of them I have said I have nothing to add, in others I did not. We should be able to see easily, maybe with a checkbox next to it, all the questions on which I have nothing to add.

[2015-05-30 12:54] pietrosperoni commented on #324
Similarly for the questions where I have voted

[2015-05-30 15:27] derekpa opened #325 "Do we really need a text limit for proposals?"
See questions like https://vilfredo.org/question/45 where instead of proposing a simple hex string "XXXXX" we need to write "My choice would be XXXXX".

Another would be the choosing a name for Vilfredo.

"A good choice would be ZZZZZZZ"

[2015-05-30 15:54] derekpa opened #326 "Improve votemap guide text for understanding contrast"
Will be updated later upon completion of issue #323.

[2015-06-01 18:54] pietrosperoni commented on #198
uh, this is there from some time :-)

[2015-06-01 18:54] #198 closed

[2015-06-01 19:12] pietrosperoni commented on #200
@giovanisp , @derekpa shall we move this to 2.1 ?
Sounds like something we might need as we prepare for NHS.
As this can be used to set up lists.

[2015-06-07 21:43] pietrosperoni commented on #325
I agree we should not have it.

[2015-06-13 09:47] pietrosperoni commented on #91
This is very important as this permits a group of people to work on a topic together.

[2015-06-13 09:50] pietrosperoni commented on #91
Opened question 49 on Vilfredo

[2015-06-13 09:54] #96 closed

[2015-06-13 09:57] pietrosperoni commented on #175
On hold until we decide the final number of generations

[2015-06-13 10:20] #176 closed

[2015-06-13 10:21] giovanisp opened #327 "After accepting an invitation, user needs a visual hint"
As of now , after accepting an invitation, the questions disappears but the user does not have any visual hint to see where it is Placed. I suggest placing it on top of the list with a fading effect.

[2015-06-13 10:21] #177 closed

[2015-06-13 10:22] #210 closed

[2015-06-13 10:23] pietrosperoni commented on #235
On hold until we have poke participants

[2015-06-13 10:26] pietrosperoni commented on #245
@derekpa look at the page above and see how much we can do something similar :-)

[2015-06-13 10:30] pietrosperoni commented on #272
on hold. Not urgent, we can reopen it if someone asks it.

[2015-06-13 10:46] giovanisp opened #328 "Add the participation table visible for all participants"
The participation table is currently visible only for the question author, and only in writing phase.
The table should appear to all participants of a question.
The table should appear during writing phase (without the column "evaluated proposals")
The table should appear during the voting phase (with both writing and evaluated columns)

A new ticket will be opened about the table layout that can

[2015-06-13 10:48] giovanisp opened #329 "Improve design of the participation table"
enhance the table, adding also previous generations (layout for voting and writing phases).
![image](https://cloud.githubusercontent.com/assets/180794/8144050/5920df2a-11ca-11e5-88d7-95f89a571d13.jpg)

[2015-06-13 10:53] pietrosperoni commented on #322
Ok I started the question on Vilfredo: https://vilfredo.org/question/50 question 50. Let me know if you wish to be invited. At the moment it is me, @giovanisp , @derekpa , @vvorski and Zanna

[2015-06-13 10:54] giovanisp opened #330 "Redesign UI for "Invite Users" modal"
add public proposal settings, use the same permission scheme as the "Participants" button

[2015-06-13 11:05] pietrosperoni opened #331 "Redesign the order of the questions in the homepage to make them more understandable"
Now the problem is how to handle multiple questions concurrently.

This means knowing which questions I need to work on;
which questions I have already finished working;
which questions I am half way through writing;
which questions I am the last person and everybody is waiting for me (this in red blinking!)

and inside each question, who are the person who have accepted and how far have they gone

[2015-06-13 11:06] giovanisp commented on #329
#328

[2015-08-19 17:35] giovanisp opened #332 "integration plugins page"
create a page in the client like this one: http://piwik.org/integrate/ with links to several plugins that integrate Vilfredo-core features.

[2015-12-16 15:07] djulien19 opened #333 "Unable to join a question after being invited"
I would like to join the question made by Sybille SG, and my pseudo is djulien19
https://vilfredo.org/question/70
I would have a quick message and then go back to the dashboard:
You are not currently participating in any questions.

Do you know why is it not working?

[2015-12-16 15:08] djulien19 opened #334 "Make public a question"
We would like to give this link to everyone that wants to participate in:
https://vilfredo.org/question/70
and they will create an account on vilfredo, and then access directly to the question. But it does not seem to work that way, with only an invitation process by emails.
Is it possible to activate this in the configuration of the question?
Thanks,

[2015-12-18 21:37] giovanisp commented on #333
you have to be directly invited to a question to participate. Is that the case?

Inviato da iPad

[2016-01-16 17:38] #333 closed

[2016-03-03 20:22] giovanisp opened #335 "Can't upload avatar profile photo"
Can't upload avatar profile photo
![image](https://cloud.githubusercontent.com/assets/180794/13508146/0d4cf73c-e186-11e5-8597-05a4e26ff88f.jpg)

[2016-03-23 10:57] pietrosperoni commented on #335
I think now it should work. Check it out

[2016-03-23 21:48] giovanisp commented on #335
Got this:
Error! There was a problem uploading your file.

[2016-04-23 10:19] giovanisp opened #336 "UI glitch when you type a long proposal body"
If you type a long proposal body, the status bar goes well beyond 100% and disappears from screen. See below:
![image](https://cloud.githubusercontent.com/assets/180794/14760808/84bf037a-094d-11e6-8b41-6814cb39200e.png)

[2016-04-23 11:31] giovanisp opened #337 "remove "image" proposal types and replace with ability to upload pictures in proposals"
Pictures should be allowed in proposal similiar as Github does it (copy-paste, drag and drop or selecting them).
![image](https://cloud.githubusercontent.com/assets/180794/14761129/a95db2d0-0957-11e6-8211-0f666b307a83.png)

[2016-04-23 11:45] giovanisp opened #338 "allow merging similar proposals in a "stack" by dragging and dropping one on top of the other"
the user can merge 2 or more similar proposals in a "stack" by dragging and dropping one on top of the other. When he do this, the proposals are "stacked" in the UI and his vote is counted as the same for each proposal in the stack.

[2016-04-23 15:24] pietrosperoni commented on #337
This should also work on writing the question. We need to organise a place where to store those images, and set up size limits.

[2016-04-27 20:17] derekpa opened #339 "Allow the moderator to adjust the question thresholds."
Allow the moderator to adjust the question threshold values graphically from the triangle.

[2016-04-27 20:27] derekpa opened #340 "Test the system running on PYPY for faster runtime and concurrency."

[2016-04-27 20:27] pietrosperoni commented on #339
This is very important and opens up a whole lot of possibilities.

[2016-04-27 20:32] pietrosperoni commented on #340
I was also speaking with @tommasosperoni who was suggesting that some functions could be assigned to an external server. Especially for functions that tend to make the CPU spike. So that when they are called there is no risk that all of Vilfredo freezes.

[2016-04-28 08:27] pietrosperoni opened #341 "Seeing the other proposals from the previous generation(s)"
It must be possible when a question moves to the second generation, to see not just the proposals in the pareto front but all the other proposals as well.

Those proposals must be one extra click away, but they must all be available in the system. Right now only the Pareto Front is available.

In the old version of Vilfredo there was a history page with all the proposals, by generation. It was ugl

[2016-04-28 15:57] pietrosperoni opened #342 "Distinguish between proposals that are in the Pareto Front and proposals that are winners"
Right now the proposals have two different colors in the Triangle, they are either white or yellow. Depending if they are part of the Pareto Front (yellow ones) or they are not. But the meaning of the Pareto Front is very different if the proposals in the Pareto Front are all supported by everybody. So the Pareto Front becomes a list of consensual proposal, of which one is enough to represent the

[2016-04-30 10:23] giovanisp commented on #335
error persists

[2016-04-30 12:46] pietrosperoni commented on #335
I think it's just a problem of permission. @polites75 Did you set up the folder permission right so the users can upload their images?

[2016-04-30 12:51] polites75 commented on #335
It was not just a problem of permissions - a JavaScript component was missing (refer to the browser debugger).
Now that Pietro and Derek have sudo rights on the server, they might try to alter permissions if needed, anyway.

[2016-04-30 15:25] giovanisp commented on #335
Bad Gateway
![image](https://cloud.githubusercontent.com/assets/180794/14936916/8fd98a54-0ef8-11e6-9c95-a262a07e32b3.png)

[2016-04-30 15:33] giovanisp commented on #335
It should be needed, because it still do not work.
![image](https://cloud.githubusercontent.com/assets/180794/14936962/b562d95a-0ef9-11e6-885e-29a8fbedeadf.png)

[2016-04-30 15:51] giovanisp commented on #335
https://www.vilfredo.org/custom-styles/fileinput.min.css
https://www.vilfredo.org/js/fileinput.min.js

![image](https://cloud.githubusercontent.com/assets/180794/14937035/67b979dc-0efb-11e6-92e4-2b729956da72.png)

Files still missing. Also, we have the wrong /static setup. Static assets should be located under
https://www.vilfredo.org/static/*  and that is configurable. See fairdemocracy/vilfredo-

[2016-04-30 16:05] giovanisp commented on #75
@derekpa let's have the acceptance email notification here, first ?

[2016-04-30 16:06] giovanisp commented on #160
Linked to #8

[2016-04-30 17:01] pietrosperoni commented on #335
I don't understand. Why has all this changed?
@derekpa can you fix it?

[2016-04-30 17:03] pietrosperoni commented on #75
The acceptance notification is already in place.
<img width="493" alt="screen shot 2016-04-30 at 18 03 27" src="https://cloud.githubusercontent.com/assets/1333674/14937395/e20666f8-0efd-11e6-8d56-c8742c2f0788.png">

[2016-04-30 17:36] giovanisp commented on #335
Problably before moving servers much of these optimizations went undocumented.

[2016-04-30 17:39] giovanisp commented on #75
Closing this and leaving #91 and #201 for notifications.

[2016-04-30 17:39] #75 closed

[2016-04-30 17:41] giovanisp commented on #91
Closing this as duplicate of #201 , the vilfredo question no longer exists.

[2016-04-30 17:41] #91 closed

[2016-04-30 17:45] giovanisp opened #348 "Upgrade bootstrap version and related JS libraries"
It has been a while since last update of jquery, bootstrap, flask and all third party frontend code. We need to upgrade them.

[2016-05-01 14:29] pietrosperoni commented on #348
My understanding was that people do not upgrade external code as this can break all sorts of dependencies. Which is why there are such things as dockers where everything is kind of frozen in time. Or did I got it all wrong?

[2016-05-01 15:51] giovanisp commented on #348
So you remain frozen in time with all security holes ? :-p
Our code should not rely on deprecated functions of external libraries, so we can upgrade them on latest security patches and functionality. Part of our work is ensuring we keep updated with latest upgrades whenever it brings us more security or more functionality we need to use. eventually we will need to remove deprecated code. It is par

[2016-05-01 16:22] pietrosperoni commented on #348
I agree with you. Does @polites75 and @tommasosperoni also agree with you?

[2016-05-02 16:20] derekpa opened #349 "Fix message displays"
Fix message displays for registration and password rest requests.

[2016-05-02 18:40] derekpa opened #350 "Remove unneeded code and links to non-existent static files from mysettings.html"
Remove unneeded code and links to non-existent static files from mysettings.html

[2016-05-02 18:41] #350 closed

[2016-05-03 08:29] pietrosperoni commented on #316
The system surely sends email when the question moves to the voting stage. So far it only gives a link

<img width="683" alt="screen shot 2016-05-03 at 09 28 44" src="https://cloud.githubusercontent.com/assets/1333674/14978114/7a8e2f18-1111-11e6-9494-f937dbed8356.png">

I could not find an equivalent message for a question moving to the next generation. And of course all the added info are missing

[2016-05-08 18:07] giovanisp commented on #335
@derekpa ? How are we with this fix ? Shall we release in demo/production a new 2.0.1 as in the roadmap? @pietrosperoni  ?

[2016-05-08 18:25] pietrosperoni commented on #335
I suspect we must wait until @polites75 releases the code to install Vilfredo on another folder. And then we work on that.

[2016-05-12 20:52] giovanisp opened #351 "Results map votes not showing on iPad"
![image](https://cloud.githubusercontent.com/assets/180794/15230025/0b93aac2-1894-11e6-814c-2ea4b81456a4.jpg)

Vilfredo name question.

[2016-05-13 20:50] derekpa opened #352 "Your New Proposals heading not appearing at writing phase for gen > 1"

[2016-05-13 22:52] derekpa commented on #352
OK, simple fix.

[2016-05-13 22:52] #352 closed

[2016-05-13 23:04] derekpa commented on #341
OK, shows all the historical proposals 1 gen at a time. You page back and forwards.

Later we an filter out losers only, or user only as well, but this should do for now.

[2016-05-14 07:20] pietrosperoni opened #353 "When a person does not have permission to write, in the table it should appear"
The questioner-moderator here has no writing permission, and yet in the table it appears as if he is "still writing". It should instead say something else like "smoking a cigaret" or "making a mess somewhere else". Or just "Finished: No Writing Permission"

<img width="1066" alt="screen shot 2016-05-14 at 09 14 23" src="https://cloud.githubusercontent.com/assets/1333674/15266965/c2cf97f2-19b4-11e6

[2016-05-14 07:25] pietrosperoni opened #354 "if a person does not have permission to vote"
<img width="813" alt="screen shot 2016-05-14 at 09 21 54" src="https://cloud.githubusercontent.com/assets/1333674/15266997/7c8259b4-19b5-11e6-86dc-b9f094a7c295.png">

It should see directly the results (it does not happen),
and it should not open the triangle. WHile now if you click on the lower right side of the proposal

<img width="753" alt="screen shot 2016-05-14 at 09 24 15" src="https://clou

[2016-05-14 07:34] pietrosperoni commented on #354
This is very urgent as it permits to a person not to participate in a question, and yet to see the results as they come out. Which then permit to have a person moderate a question they do not participate on.

[2016-05-14 07:39] pietrosperoni opened #355 "when the moderator clicks on "moving on to the results" the question page should redirect to the page of the results."
Right now a person clicks on the question page, and everybody remains stuck in the page of the question. To go to the result page they have to go back to the home, and then from there click on the question again. This is crazy.

Once we move to the result it should all go directly to the result page for everybody. Reloading the page should send there. The moderator should go directly there. In sho

[2016-05-14 10:10] pietrosperoni opened #356 "We need to be able to zoom on the triangle"
How the hell can you distinguish something like this:

<img width="904" alt="screen shot 2016-05-14 at 12 08 38" src="https://cloud.githubusercontent.com/assets/1333674/15267814/bb17a97e-19cc-11e6-8595-fabb028028c4.png">

[2016-05-14 10:17] pietrosperoni commented on #341
@derekpa can you include a screenshot of how it appears?

Also do you confirm that only Pareto Front can be seen by default?

[2016-05-14 12:42] pietrosperoni opened #357 "When a person is invited and does not register directly, he must be able to register without being re-invited"
When a person is invited and registers without going through the link in the email, he cannot see the question again and needs to be re-invited.

Person A invited person B using the email "emailB"

Person B receives the email, looks at the link, maybe follows it, maybe forgets to do it. He has other things to do, and decide to do this another time. 10 minutes later opens vilfredo.org and registers

[2016-05-14 16:49] giovanisp commented on #355
2.0.1 is the Restart, we need urgent fixes there.

[2016-05-14 16:50] giovanisp commented on #357
2.0.1 is the Restart, we need urgent fixes there.

[2016-05-14 16:51] giovanisp commented on #354
2.0.1 is the Restart, we need urgent fixes there.

[2016-05-14 16:56] giovanisp commented on #323
@pietrosperoni the question does not exist anymore.

[2016-05-14 17:13] giovanisp commented on #356
Agree. Zooming can be handled on related #156 and #53

[2016-05-14 18:39] pietrosperoni opened #358 "is this ok as a favicon?"
![favicon](https://cloud.githubusercontent.com/assets/1333674/15270087/defbec50-1a13-11e6-9396-98edf48e28e8.png)

[2016-05-14 19:24] pietrosperoni commented on #323
@giovanisp it probably remained in the previous version on dreamhost. But is this really important @giovanisp ? I see this quite well, but maybe others cannot.

[2016-05-14 22:21] derekpa commented on #341
"Also do you confirm that only Pareto Front can be seen by default?" - Not sure what you're asking me. Previous generation proposals are not displayed by default, only when you click the Earlier button.

![screen shot 2016-05-14 at 23 17 45](https://cloud.githubusercontent.com/assets/1368533/15270949/40ce4dc2-1a2a-11e6-8ca3-dc28e86ef68f.png)

[2016-05-14 22:30] derekpa commented on #358
Black V we have looks better.

[2016-05-14 22:34] derekpa commented on #323
The word is purple for me on vilfredo.org

![screen shot 2016-05-14 at 23 33 24](https://cloud.githubusercontent.com/assets/1368533/15271017/62fcd8b2-1a2c-11e6-8e54-88abab391102.png)

[2016-05-15 07:03] pietrosperoni commented on #358
The black V it's horrible. And it reminds of Isis. Sorry I really dislike it.

[2016-05-15 08:45] giovanisp commented on #355
"In short the previous page does not exist any longer. "
Well it should exist, there is a button to go back to it. It is important to see the past votes and comments after the final results, specially if you missed voting.
Il 14/mag/2016 09:39, Pietro Speroni <notifications@github.com> ha scritto:Right now a person clicks on the question page, and everybody remains stuck in the page of the questio

[2016-05-15 10:43] giovanisp commented on #323
This is not flagged as urgent, but surely a thing to do. Please install the WAVE Accessibility chrome extension and use color codes that pass contrast color level AA. This guarantees a large number of users will have no trouble reading it.

Il 14/mag/2016 21:24, Pietro Speroni <notifications@github.com> ha scritto:@giovanisp it probably remained in the previous version on dreamhost. But is this re

[2016-05-15 10:50] derekpa commented on #335
This is almost certainly a permissions issue on the server. @polites75?

[2016-05-15 14:36] pietrosperoni commented on #323
how would this be if you just places a thin black line around the yellow to improve contrast?

[2016-05-17 11:38] pietrosperoni commented on #357
Just tested it on nightly, and it is still not working. Basically it is just needed that ON the page the invitation appears. So when someone register, the system goes and looks at all the invitation that email has received, and invites that person for all of them on the homepage

[2016-05-17 11:45] pietrosperoni commented on #354
Nop, still not working. At least not in nightly.vilfredo.org

Also another problem appeared. And this might be linked to other problems. When a person is invited to a question, and the question is in the voting phase, he will not receive news about the question from the homepage. Instead he MUST answer the email. This is not ok. The question should just appear on his dashboard. (In fact the questi

[2016-05-17 11:49] pietrosperoni commented on #341
Ok, but the comments, and the questions and answers are missing. And are really important, as on the base of them the new proposals will be written

[2016-05-17 12:10] derekpa commented on #328
I disagree that the participation table should be available to all participants. It gives them too much information, about who authored the proposals for instance, which reduces fairness.

@pietrosperoni? What does your mathematical brain say, specifically about fairness?

[2016-05-17 12:11] derekpa opened #359 "Show participation table in voting phase"
Show participation table in voting phase, with still voting column replacing still writing column

[2016-05-17 12:17] pietrosperoni commented on #355
@giovanisp
Hmm, the info of what happened exists. But the page where you vote makes no sense to have it. Like having the voting cabinets still set up after the votes have happened. You keep the ballot boxes, but stored, and indexed. But the cabinet do not exist any longer.

[2016-05-17 12:33] pietrosperoni commented on #328
Hmm, it looks like there are several type of questions, and several type of communities which we need to serve. And they have different needs.

Indeed knowing who wrote proposals (and who didn't) can make people change their voting behaviour. But according to this also the questioner (the person who asks the question) should not see it.

Which is why we want to have blind moderation.

Also this mi

[2016-05-17 12:35] pietrosperoni commented on #359
This could probably be visible to everybody who has voted or who has no right to vote (read only, read and propose, comment, ...)

[2016-05-17 23:05] derekpa commented on #359
OK, makes sense.

[2016-05-18 00:09] derekpa commented on #359
Ok, but actually I'm wondering whether people who have voted should see it, when they can then change their votes based on discovering who may be the authors.

[2016-05-18 00:12] derekpa commented on #328
What do you mean, wait. Make the table visible to voters who have voted or not?

As for the author seeing how many proposals each has written, why does he need to see this. Just the total, then he can't be biased either.

[2016-05-18 00:16] derekpa commented on #355
How about loading g the results at the top,of the question page?

[2016-05-18 12:59] pietrosperoni commented on #355
yes, that would be fine. We will need to design the result page really well, as it will be some sort of take away message to the participants. But for now is a good starting point

[2016-05-18 13:06] derekpa commented on #359
OK, for now we'll leave it as visible to author and moderator, which is tested (and all we need anyway).

We can use this as a stable codebase.

[2016-05-18 14:50] pietrosperoni commented on #328
regarding the table of who has voted, this info is out in any case once participants can see the triangle with the votes.

[2016-05-21 12:42] giovanisp opened #360 "Rename "voting phase" as "evaluation phase" and related terms"
"vote" becomes "evaluate" as well.

Pietro Speroni di Fenizio	Pietro Speroni di Fenizio
actually evaluation is better than voting, sorry +giovani.spagnolo@gmail.com
Shruti Narayanan
Shruti Narayanan
yes, i feel evaluation works better in this context
Pietro Speroni di Fenizio
Pietro Speroni di Fenizio
voting use to be the historical name because originally people would just vote yes/no. and that w

[2016-06-19 01:20] don-durito opened #1 "Non invia più mail"
Sembra che qualcosa si sia rotto, e Vilfredo non spedisce più le mail.
Ho provato a iscrivermi con pitocco.ma at anche.no, e a richiedere la password (nel caso fossi già iscritto senza ricordarmelo), ma nulla, silenzio assoluto.

Ricordo che anche quando riuscii a creare una domanda e invitai un po' di persone, a molte non arrivò nulla (ad altri sì). Forse quello è un altro problema (magari andava

[2016-06-19 01:25] don-durito commented on #1
Come non detto... ora mi ha re-iscritto con la mia mail (eppure ero già iscritto vedo, visto che vilfredo mi aveva già mandato delle mail a quella casella).
C'è comunque qualcosa che non mi torna col funzionamento delle mail, se riesco a focalizzarlo meglio mi rifaccio sentire.

Buon lavoro comunque!

[2016-06-19 01:49] don-durito opened #2 "Mails are sent to spam on Gmail / Mail nello spam con gmail"
Ho provato a fare una domanda e a "autoinvitarmi" spedendo un invito a due miei indirizzi gmail.
In nessun caso arriva nulla nella casella di posta.
Dopo che ho scritto l'indirizzo nella barra premo "Send Email Invitation" e appare l'indirizzo in verde. Se lo ripeto appare in giallo. Ma comunque non arriva nulla (controllate anche le altre cartelle di gmail...).

Che ci sia un problema specifico c

[2016-06-19 01:50] #1 closed, assigned to nobody

[2016-06-19 10:20] don-durito commented on #2
Risolto anche qua... manda nello spam che in gmail è mooolto nascosto.
Non c'è modo per risolverlo?

[2016-07-04 15:13] pietrosperoni commented on #2
Abbiamo lavorato molto su questo problema e pensavamo di averlo risolto. Ricontrollerò